<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <h1>Menu</h1>
  <p>Último Acesso: <%= ultimoAcesso %></p>
  <ul>
    <li><a href="/cadastroUsuario">Cadastro de Usuários</a></li>
    <li><a href="/batepapo">Bate-papo</a></li>
  </ul>
</body>
</html>
